<ng-container
  *ngrxLet="
    { characters: characters$, currentPage: currentPage$ } as vm;
    suspenseTpl: loading
  "
>
  <section
    class="grid h-auto auto-rows-max grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <app-character-card
      *ngFor="
        let character of vm.characters.results;
        index as i;
        trackBy: trackByFn
      "
      [data]="character"
      (click)="navigateTo(character.id)"
    />
  </section>

  <div class="p-5 text-center">
    <app-paginator
      [currentPage]="vm.currentPage"
      [totalPages]="vm.characters.info.pages"
      (pageChanged)="currentPage$.next($event)"
    />
  </div>
</ng-container>

<ng-template #loading>
  <section
    class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <app-skeleton-card *ngFor="let _item of [1, 2, 3, 4]" />
  </section>
</ng-template>
