<div
  class="fixed z-10 flex w-full flex-wrap items-center justify-between gap-y-5 bg-white px-4 py-2 shadow-md"
>
  <ul class="flex flex-wrap items-center gap-5">
    <li *ngFor="let route of routes">
      <a
        class="block cursor-pointer rounded-md border-2 border-green-600 bg-green-100 py-1 px-2 font-bold uppercase text-green-700 hover:bg-green-200"
        [routerLink]="route.route"
      >
        {{ route.name }}
      </a>
    </li>
  </ul>

  <img src="assets/images/logo.png" alt="" height="100" width="200" />

  <app-search-bar class="w-full sm:w-auto"></app-search-bar>
</div>
